<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>app.yihua.taigi-web</string>

  <key>ProgramArguments</key>
  <array>
    <string>__PROJECT_ROOT__/scripts/start-taigi-web.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>__PROJECT_ROOT__</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>__PROJECT_ROOT__/taigi_web_jobs/launchd.out.log</string>

  <key>StandardErrorPath</key>
  <string>__PROJECT_ROOT__/taigi_web_jobs/launchd.err.log</string>
</dict>
</plist>
